*{
    padding: 0px;
    margin: 0px;
}

p{
/* selector 선택자 */
    font-size: 10px;
    background-color: red;
    display: inline-block;
    width:100px;
    height: 100px;

/* inline 과 block
    inline : 크기 조절 불가!!!!
    inline-block : 크기 조절 가능!!
    */
}

h3{
  font-size: 70px;  
}