@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic+Coding&display=swap');
.navbar-brand, h1, h2, h3, h4{
	font-family: 'Do Hyeon', sans-serif;
}
h5{
	font-family: 'Do Hyeon', sans-serif;
	font-size : '18px';
}
body{
	font-family: 'Nanum Gothic Coding', monospace;
}